header {
  background-image: url('../img/CThierry.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: right;
  color: gray;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: #222;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }



.navbar-custom {
    background-color: #222;
    padding: 10px 0;
    /* background-color: transparent; */
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: none;
}